/* font family */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  /*color */
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /*paragraphs */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  /*background, headings, buttons */
  --Very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-light-gray);
}

.card-group {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1607843137);
  margin: 0 6rem;
}

.card {
  row-gap: 2rem;
  padding: 2.5rem 2.5rem;
  --bs-card-group-margin: 0rem;
}

.left-col {
  background-color: var(--Bright-orange);
}

.mid-col {
  background-color: var(--Dark-cyan);
}

.right-col {
  background-color: var(--Very-dark-cyan);
}

.card-body {
  padding: 0;
}

.card-title {
  color: var(--Very-light-gray);
  font-family: "Big Shoulders Display";
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.card-text {
  color: var(--Transparent-white);
  font-family: "Lexend Deca";
  width: 75%;
  height: 60%;
  padding-bottom: 5rem;
  font-size: 1rem;
}

.btn {
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  border-style: none;
  background-color: var(--Very-light-gray);
}

.btn-left {
  color: var(--Bright-orange);
}

.btn-mid {
  color: var(--Dark-cyan);
}

.btn-right {
  color: var(--Very-dark-cyan);
}

.btn:hover {
  color: var(--Very-light-gray);
  background-color: transparent;
  border-style: solid;
  border-color: var(--Very-light-gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 48.5rem) {
  .left-col {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }
  .mid-col {
    border-radius: 0rem;
  }
  .right-col {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }
}
