/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* general */
:root {
    /* primary color */
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);

    /* accent color */
    --Blue: hsl(248, 32%, 49%);

    /* neutral color */
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);

    --White: hsl(0, 100%, 100%);

}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--Red);
    background-image: url("../images/bg-intro-desktop.png");
    
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

/* main */

main {
    margin: 10rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: var(--White);
    gap: 1.5rem;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 1rem;
}

.promote {
    background-color: var(--Blue);
    border-radius: 0.5rem;
    border: none;
    color: var(--White);
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.499);
}

.sign-up {
    background-color: var(--White);
    border-radius: 0.5rem;
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding: 1.5rem 2.5rem;
    box-sizing: border-box;
}

#form {
    display: flex;
    flex-direction: column;
    
}

label {
    position: relative;
}

input {
    width: 100%;
    margin-top: 1rem ;
    padding: 1rem 0;
    border-radius: 0.5rem;
    border: 1px solid var(--Grayish-Blue);
    text-indent: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    display: inline-block;
}

button[type="submit"] {
    width: 100%;
    background-color: var(--Green);
    padding: 1rem 0;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--White);
    font-weight: 500;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: color-mix(in oklch, transparent, var(--Green) 70%);
}

.error-message {
    font-size: 0.8rem;
    color: var(--Red);
    text-align: right;
    font-style: italic;
    font-weight: 500;
}

.error-field {
    /* error focus that override initial focus with high priority */
    border: 1px solid var(--Red) !important;
}

.error-icon {
    position: absolute; /* Absolute positioning within the form group */
    display: none;
    top: 2rem;
    right: 1rem; /* Padding from the right edge of input */
    
}

#success-message {
    font-size: 1rem;
    color: var(--Green);
    text-align: center;
    font-style: italic;
    font-weight: 500;
    margin: 1rem 0;
}

.terms {
    text-align: center;
    font-size: 0.7rem;
    color: var(--Grayish-Blue);
    padding-bottom: 1.5rem;
}

.terms-link {
    color:var(--Red);
    font-size: 0.7rem;
}

/* footer */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--White);
}

.attribution a { 
    font-size: 11px;
    color: var(--Dark-Blue) 
};


/* responsive for mobile design */
@media only screen and (max-width: 45rem) {
    
    body {
        background-image: url("../images/bg-intro-mobile.png");
        
    }
    
    h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    main {
        margin: 3rem 1rem;
        display: flex;
        flex-direction: column;
    }
    
    .left-panel {
        width: 100%;
        gap: 1.5rem;
    }
    
    .right-panel {
        width: 100%;
        gap: 1rem;
    }
    
    .promote {
        width: 100%;
        padding: 1rem 0;
    }
    
    .sign-up {
        padding: 1rem 1.5rem;
    }
    
    input {
        width: 100%;
        margin-top: 1rem ;
        padding: 1rem 0;
        border-radius: 0.5rem;
        border: 1px solid var(--Grayish-Blue);
        text-indent: 2rem;
        font-size: 0.8rem;
        font-weight: 600;
    }
    
    button[type="submit"] {
        width: 100%;
        background-color: var(--Green);
        padding: 1rem 0;
        margin-top: 1rem;
        border-radius: 0.5rem;
        border: 0;
        text-align: center;
        text-transform: uppercase;
        color: var(--White);
        font-weight: 500;
        cursor: pointer;
    }
    
    button[type="submit"]:hover {
        background-color: color-mix(in oklch, transparent, var(--Green) 70%);
    }
    
    .error-message {
        font-size: 0.8rem;
        color: var(--Red);
        text-align: right;
        font-style: italic;
        font-weight: 500;
    }
    
    #success-message {
        font-size: 1rem;
        color: var(--Green);
        text-align: center;
        font-style: italic;
        font-weight: 500;
        margin: 1rem 0;
    }
    
}