/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* colors */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /*main bg*/
  --Very-dark-blue-main: hsl(217, 54%, 11%);
  /*card bg*/
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  /*line*/
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

body {
  background: var(--Very-dark-blue-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--Very-dark-blue-card);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1607843137);
  border-radius: 1rem;
  min-width: 20rem;
  max-width: 22rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-col {
  position: relative;
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 0;
}

.img-col img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1607843137);
}

.overlay {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 0;
  background: linear-gradient(
    hsl(178, 100%, 50%, 0.45),
    hsl(178, 100%, 50%, 0.45)
  );
  border-radius: 0.5rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.icon-view {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-image: url("../images/icon-view.svg");
  width: 3rem;
  height: 3rem;
  z-index: 3;
}

.img-col:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.content-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 1.5rem;
  gap: 0.5rem;
}

.content-col .title {
  color: var(--White);
  font-size: 1.5rem;
}

.content-col .title:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.content-col .description {
  font-size: 1.125rem;
  color: var(--Soft-blue);
  opacity: 0.8;
  width: 18.75rem;
  margin-bottom: 0.5rem;
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-row .icon-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.info-row .price {
  font-size: 1rem;
  color: var(--Cyan);
  display: flex;
}

.info-row .time {
  font-size: 1rem;
  color: var(--Soft-blue);
  margin: 0.5rem 0;
}

.line-break {
  color: var(--Very-dark-blue-line);
  margin: 0.5rem 0;
}

.user-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.user-row img {
  width: 40px;
  height: 40px;
  border: 2px solid var(--White);
  border-radius: 50%;
}

.user-row .user-info {
  color: var(--Soft-blue);
  font-size: 1rem;
  padding-top: 1rem;
}

.user-info .username {
  color: var(--White);
}

.user-info .username:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: gray;
}
.attribution a {
  color: var(--Soft-blue);
}

@media only screen and (max-width: 40rem) {
  body {
    align-items: center;
    justify-content: center;
    min-width: 100%;
  }

  .card {
    margin: 2rem 1rem;
  }
}
