/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

/* general */
:root {
    /* ### Primary color */
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);

    /* ### Neutral color */
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Very-dark-blue);
}

h1 {
    font-size: 2.2rem;
    color: var(--White);
    font-weight: 700;
}

h2 {
    font-size: 1.2rem;
    color: var(--White);
}

p {
    font-size: 0.9rem;
    color: var(--Slightly-transparent-white-main);
}

/* main */
main {
    display: flex;
    flex-direction: row;
    width: 72rem ;
    height: fit-content;
    border-radius: 0.8rem;
    overflow: hidden;
}

.context {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--Dark-desaturated-blue);
    box-sizing: border-box;
    padding: 4.5rem 8rem 0 4rem;
    gap: 1.5rem;
}

.context span {
    color: var(--Soft-violet);
    font-size: 2.2rem;
}

.context p {
    width: 90%;
    line-height: 1.5rem;
}

.context article {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5rem;
}

.context article header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    gap: 0.5rem;
}

.context article header p {
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--Slightly-transparent-white-stat);
}

.header {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;  
}


/* footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }